<div class="flex flex-col items-center justify-center py-6 w-full h-full">
  <div class="max-w-4xl w-full space-y-8 h-full">
    <div id="conversation" class="space-y-4 p-4 rounded overflow-y-auto">
    </div>
    <form id="text_form" class="flex justify-center px-2 py-1 border-t border-gray-200 bg-white">
      <input type="text" placeholder="入力してください" id="user_input" class="input input-bordered w-full max-w-xs">
      <button id="button_post" class="btn btn-primary">送信</button>
    </form>
  </div>
</div>

<script>
  const button_post = document.getElementById('button_post');
  button_post.addEventListener('click', function(event) {
    event.preventDefault();

    const formText = document.querySelector("#user_input");
    if (formText.value.trim() === "") {
      return;
    }

    const url = "<%= openai_chats_path('json') %>?user_input=" + formText.value;
    const postOptions = {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      method: "GET"
    };

    fetch(url, postOptions)
      .then(response => response.json())
      .then(item => {
        const list = document.getElementById("conversation");

        const inputHTML = `
          <div class="text-right flex items-end justify-end space-x-2">
            <div class="chat-bubble inline-block bg-blue-100 px-4 py-2 rounded-lg max-w-3/4 break-words">
              <span>${formText.value}</span>
            </div>
            <div class="icon-container w-8 h-8 flex-shrink-0">
              <i class="fa-solid fa-user" style="font-size:30px"></i>
            </div>
          </div>`;
        list.insertAdjacentHTML("beforeend", inputHTML);

        const responseHTML = `
          <div class="text-left flex items-start space-x-2">
            <div class="icon-container w-8 h-8 flex-shrink-0">
              <i class="fa-solid fa-child" style="font-size:40px"></i>
            </div>
            <div class="chat-bubble inline-block bg-gray-100 px-4 py-2 rounded-lg max-w-3/4 break-words">
              <span>${item.text}</span>
            </div>
          </div>`;
        list.insertAdjacentHTML("beforeend", responseHTML);
        formText.value = "";
        list.scrollTop = list.scrollHeight;
      })
      .catch(error => console.error('Error:', error));
  });
</script>