<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">ちびっ子トーク</h1>
      <p class="py-6">
        あなたは幾度も畳みかけられる「なんで？」に答えられますか？</br>
        3歳児との会話を通じて、理解度を確認しましょう！
      </p>
      <%= link_to "会話をはじめる", openai_chats_new_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
