<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">ちびっ子トーク</h1>
      <p class="py-6">
        あなたは幾度も畳みかけられる「なんで？」に答えられますか？</br>
        3歳児との会話を通じて、理解度を確認しましょう！
      </p>
      <button class="btn btn-primary">会話をはじめる</button>
    </div>
  </div>
</div>
